<div class="container-fluid">
  <% if @inventories.blank? %>
    <br>
    <h3>Click below to create a new Inventory!</h3><br>
    <%= link_to "Create Inventory", new_inventory_path, class: "btn btn-outline-primary" %>
  <% else %>
    </br>
    <h5>LIST OF CURRENT INVENTORIES:</h5>
    <% @inventories.each do |inventory| %>
      <ol>
        <%= link_to "#{inventory.name.upcase}", inventory_path(inventory) %>
      </ol>
    <% end %>
    <br>
    <strong>Click below to create a new Inventory!</strong><br>
    <div><%= link_to "Create Inventory", new_inventory_path, class: "btn btn-outline-primary" %></div>
  <% end %>
</div>
