<div class="container-fluid">
  <% if @inventories.blank? %>
    <h3>Click below to create a new Inventory!</h3><br>
    <%= link_to "Create Inventory", new_inventory_path %>
  <% else %>
    <h4 class="font-monospace">LIST OF CURRENT INVENTORIES:</h4>
    <% @inventories.each do |item| %>
      <ol><%= link_to "#{item.name.upcase}", inventory_path(item) %></ol>
    <% end %>
    <br>
    <strong>Click below to create a new Inventory!</strong><br>
    <div><%= link_to "Create Inventory", new_inventory_path, class: "btn btn-outline-success" %></div>
  <% end %>
</div>
